
//Rules and FAQ Page

.rules {
    display: flex;
    margin-top: 160px;
  }
  
  .rules_img {
    max-width: 594px;
    width: 100%;
    margin: 0 auto;
  }
  
  .rules_title {
    //font2
    font-family: "FuturaLTW01-Medium";
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: normal;
    color: rgb(0, 0, 0);
  }
  
  .rules_text {
    //font7
    display: flex;
    flex-direction: column;
    max-width: 594px;
    font-size: 18px;
    line-height: 1.4em;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
  }
  
  //FAQ part
  .faq {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    transform: translate(0%, 40%);
    margin-bottom: 200px;
  }
  
  .subtitle_faq {
    display: flex;
    margin-left: 25rem;
    justify-content: space-between;
  }
  
  .faq_title {
    //font2
    font-family: "FuturaLTW01-Medium";
    overflow: hidden;
    font-size: 50px;
    font-weight: normal;
    color: rgb(0, 0, 0);
  }
  
  .search-input {
    display: none;
  }
  .faq_subtitle {
    //font5
    text-align: center;
    font-size: 25px;
    font-family: "HelveticaW01-Bold";
    margin-bottom: 40px;
  }
  
  .question-answer {
    border-bottom: 1px solid rgb(166, 130, 74);
    padding: 10px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    //  height: 50px;
    //  overflow: hidden;
  }
  
  .faq_q {
    display: flex;
    justify-content: space-between;
    font-family: "FuturaLTW01-Medium";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2em;
    color: rgba(70, 70, 70, 1);
    margin-bottom: 20px;
  }
  
  .faq_a {
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: rgba(70, 70, 70, 1);
  }
  
  .faq_answer {
    display: none;
  }
  
  .btntohide {
    width: 25px;
    background-image: url("../img/arrow.jpeg");
  }

  ol {
    color: rgba(70, 70, 70, 1);
  }
  
  .facebook {
    width: 18px;
    height: 20px;
  }
  
  .twitter {
    width: 18px;
    height: 20px;
  }
  
  .social_icons {
    padding: 15px;
  }